name: Build Docker Image

on:
  workflow_dispatch:

env:
  GHCR_REPO: ghcr.io/zengge99/chatapi
  GHCR_REPO_HUB: zengge99/alist

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and push to DockerHub
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: Dockerfile
          push: true
          tags: |
            ${{ env.GHCR_REPO_HUB }}:latest
            ${{ env.GHCR_REPO_HUB }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
